body {
  background-color: rgba(199, 255, 255, 0.471);
  opacity: 80%;
  color: rgb(119, 255, 0);
}

h1 {
  color: rgb(0, 89, 255);
}

.quote {
  color: rgb(255, 0, 0);
  text-shadow: 6cap;
  ;
  
  
}

.quote .narrator {
  color: rgb(26, 255, 0);
}

#intro p {
  color: rgb(255, 3, 129);
}

.super-important-omg {
  font-size: 20px;
  background-color: rgb(255, 255, 202);
}
